{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}Stock Control - Edit a Product{% endblock title %}

{% block content %}
<div class="py-4 container">
    <p class="mx-3 text-white fs-1 fw-normal">Edit a Product</p>
    <form class="text-white" action="" method="post"> {% csrf_token %}
        <div class="form-check form-switch">
        {{ form|crispy }}
        </div>
        <br>
        <input class="btn btn--pill btn-primary" style="width: 1265px; margin-left: 32px;" type="submit" name="" value="Send">
    </form>

</div>
{% endblock content %}

