{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Stock Control - Add a Customer{% endblock title %}

{% block content %}
    <div class="py-4 container">
        <p class="text-white fs-1 fw-normal">Add a Customer</p>
        <form class="text-white" action="" method="post"> {% csrf_token %}
            {{ form|crispy }}
            <br>
            <input class="btn btn--pill btn-primary" type="submit" name="" value="Send">
        </form>

    </div>
{% endblock content %}