{% extends 'base.html' %}

{% block title %}Stock Control - Remove a Product{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <p class="text-white text-center fs-2 fw-normal">Are you sure you would like to remove the supplier: {{supplier.company_name}}?</p>
        <form action="" method="post"> {% csrf_token %}
            <div class="mt-4 text-center">
                <input class="btn btn--pill btn-danger" type="submit" value="Remove">
                <a class="btn btn--pill btn-warning" href="{% url 'suppliers' %}">Return</a>
            </div>
        </form>
    </div>
{% endblock content %}